@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'ABeeZee', sans-serif;
    color: #FCFCFC;
}
.head{
    background-color: #FF5154;
    color: #FCFCFC;
    height: 50px;
    width: 100%;
}
.container{
    padding-left: 20px;
}
li{
    list-style: none;
    margin: 0px 20px;
    
}
li a{
    text-decoration:none;
    color: #FCFCFC; 

}
li a:hover{
    
    text-decoration:underline;
    color: #191716; 

}
.nav{
    padding-right: 50px;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.img-box{
    height: 100vh;
    width: 100vw;
    justify-content: start;

}
.img{
    height: 100vh;
    width: 100vw;
}
.pos{
    position: absolute;
    z-index: -1;
}
.slogan{
    font-size: 30px;
    text-align: center;
    padding-top: 40vh;
    padding-left: 20px;
}
.down{
    background-color:#D1D1D1 ;
    color: #191716;
    height: 80vh;
    width: 100vw;
}
.konw{
    padding: 20vh 100px 0px ;
    
}
.konw1{
    padding:0px 5vw; 
}
.about{
    text-indent: 50px;
    overflow: hidden;
}


.end{
    background-color: #191716;
    height: 20vh;
    width: 100vw;
    padding: 0px 300px;
}
.tray{
    border: 1px solid #D1D1D1;
    height: 50px;
    min-width: 100px;
    max-width: auto;
    padding: 0px 10px;
    justify-content: center;
    border-radius: 0px 10px 0px 10px;
}
a{
    text-decoration: none;
    color: #D1D1D1;
}

.tray:hover{
    border: 1px solid #191716;
    background-color: #D1D1D1;
}